<div class="dv-confirmation-bg">
  <div class="h-100">
    <div class="container mt-3 h-100">
      <div class="row h-100 d-flex justify-content-center">
        <div class="col-md-11 text-center booking-confirmation__dv-my-auto">
          <div class="card-block">
            <h1 class="m-0 booking-confirmation__dv-confirmation-txt">
              Il tuo codice è <br />
              stato inviato!
            </h1>
            <img src="/assets/images/confirmation_tick_icon.png" class="booking-confirmation__image-tick" />
            <h3 class="booking-confirmation__dv-confirmation-thx">Grazie di aver prenotato</h3>
            <h2 class="booking-confirmation__dv-go-home">
              <a class="booking-confirmation__dv-go-home" [routerLink]="['/']"> Torna alla ricerca </a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
