<div class="row mb-3">
  <div class="col h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="p-5">
        <p>
          La “Palestra Digitale” è un luogo pubblico di accesso sul territorio regionale con finalità di acculturazione
          digitale ed assistenza su servizi digitali.
        </p>
        <p>
          La webapp fornisce un elenco delle Palestre Digitali presenti nel territorio dell’Altovicentino indicandone
          dettagli e posizione.
        </p>
        <p>Tramite la webapp è possibile</p>
        <ul>
          <li>cercare una Palestra Digitale tramite una delle seguenti modalità</li>
          <ul>
            <li>per parola chiave, inserendo una parola (ad esempio “biblioteca”) e premendo il pulsante "Ricerca"</li>
            <li>
              per parola chiave e per vicinanza alla propria posizione, inserendo una parola e premendo il pulsante "Geo
              Ricerca"
            </li>
          </ul>
          <li>visualizzare le informazioni relative ad una data Palestra Digitale</li>
          <li>
            effettuare la prenotazione di una postazione informatica (Pc) presente in una delle Palestre Digitali.
          </li>
        </ul>
      </div>
      <div class="flex-grow-1"></div>
    </div>
  </div>
</div>
