<div class="d-flex justify-content-center py-2 mb-3">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-dark btn-sm mt-2" (click)="onSearchClick()">Torna alla ricerca</button>
    </div>
    <div class="details__map mt-2">
      <app-aws-map-viewer [pins]="mapPin | async" [zoomToPins]="true" [zoom]="12"></app-aws-map-viewer>
    </div>
    <div class="details__name mt-4 text-center">{{ (place$ | async)?.name }}</div>
    <div *ngIf="(place$ | async)?.street" class="details__street text-center">
      {{ street | async }}
    </div>
    <div *ngIf="(place$ | async)?.city" class="details__street text-center">
      {{ city | async }}
    </div>
    <div class="btn-toolbar d-flex justify-content-center mt-2" role="toolbar">
      <button
        *ngIf="(place$ | async)?.bookable"
        type="button"
        class="btn btn-primary mx-2 mt-2"
        (click)="onBookingClick()"
      >
        PRENOTA
      </button>
      <a
        *ngIf="(place$ | async)?.phone"
        href="tel:+{{ (place$ | async)?.phone }}"
        role="button"
        class="btn btn-primary mx-2 mt-2"
        ><fa-icon icon="phone-alt"></fa-icon> {{ (place$ | async)?.phone }}</a
      >
    </div>
    <div class="details__openingTime mt-3 text-center" *ngIf="(place$ | async)?.openingTimeDesc">
      <strong>Orari</strong>
      <br />{{ (place$ | async)?.openingTimeDesc }}
    </div>
    <div class="mt-2 mb-3 text-center details__info">
      <strong>Informazioni</strong>
      <div *ngIf="(place$ | async)?.representative">Referente: {{ (place$ | async)?.representative }}</div>
      <div *ngIf="(place$ | async)?.building">Edificio: {{ (place$ | async)?.building }}</div>
      <div *ngIf="(place$ | async)?.category">Categoria: {{ (place$ | async)?.category }}</div>
      <div>
        <a
          *ngIf="siteCheck() | async"
          href="{{ (place$ | async)?.website }}"
          target="_blank"
          role="button"
          class="btn btn-primary mx-2 mt-2"
          ><fa-icon icon="globe"></fa-icon> Vai al sito</a
        >
      </div>
    </div>
  </div>
</div>
